In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

#from dummyPy import OneHotEncoder
#from scipy.sparse.csr_matrix import todense

In [2]:
df = pd.read_csv("final_dataset.csv")
df.head()

,Price,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time
0,6159,5,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 09:30,20-04-2021 11:40,130.0,1,Tuesday,9,11,Morning_flight,Afternoon_flight
1,6159,11,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 15:30,20-04-2021 17:40,130.0,1,Tuesday,15,17,Afternoon_flight,Evening_flight
2,6159,12,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 16:55,20-04-2021 19:05,130.0,1,Tuesday,16,19,Evening_flight,Evening_flight
3,6159,8,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 12:45,20-04-2021 15:00,135.0,1,Tuesday,12,15,Afternoon_flight,Afternoon_flight
4,6159,13,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 17:45,20-04-2021 20:05,140.0,1,Tuesday,17,20,Evening_flight,Evening_flight

In [3]:
#o = df["dept_hours"] - 4
#o
#df.insert(1, "Optimal_hr", o)

In [4]:
df.head()

,Price,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time
0,6159,5,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 09:30,20-04-2021 11:40,130.0,1,Tuesday,9,11,Morning_flight,Afternoon_flight
1,6159,11,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 15:30,20-04-2021 17:40,130.0,1,Tuesday,15,17,Afternoon_flight,Evening_flight
2,6159,12,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 16:55,20-04-2021 19:05,130.0,1,Tuesday,16,19,Evening_flight,Evening_flight
3,6159,8,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 12:45,20-04-2021 15:00,135.0,1,Tuesday,12,15,Afternoon_flight,Afternoon_flight
4,6159,13,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 17:45,20-04-2021 20:05,140.0,1,Tuesday,17,20,Evening_flight,Evening_flight

In [5]:
df["Optimal_hr"].describe()

count    315985.000000
mean          8.914271
std           5.148739
min           0.000000
25%           4.000000
50%           8.000000
75%          13.000000
max          23.000000
Name: Optimal_hr, dtype: float64

In [6]:
Optimal_hr = list(df["Optimal_hr"])
for i in range(len(Optimal_hr)):
    if Optimal_hr[i] < 0:
        Optimal_hr[i] += 24
        
    else:
        Optimal_hr[i] += 0

df["Optimal_hr"] = pd.Series(Optimal_hr)
    
print(df["Optimal_hr"])

0          5
1         11
2         12
3          8
4         13
          ..
315980     4
315981     4
315982    16
315983    16
315984     4
Name: Optimal_hr, Length: 315985, dtype: int64

In [7]:
df["Optimal_hr"].describe()

count    315985.000000
mean          8.914271
std           5.148739
min           0.000000
25%           4.000000
50%           8.000000
75%          13.000000
max          23.000000
Name: Optimal_hr, dtype: float64

In [8]:
df.to_csv("final_dataset.csv", index=False)

In [9]:
df = pd.read_csv("final_dataset.csv")
df.head()

,Price,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time
0,6159,5,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 09:30,20-04-2021 11:40,130.0,1,Tuesday,9,11,Morning_flight,Afternoon_flight
1,6159,11,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 15:30,20-04-2021 17:40,130.0,1,Tuesday,15,17,Afternoon_flight,Evening_flight
2,6159,12,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 16:55,20-04-2021 19:05,130.0,1,Tuesday,16,19,Evening_flight,Evening_flight
3,6159,8,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 12:45,20-04-2021 15:00,135.0,1,Tuesday,12,15,Afternoon_flight,Afternoon_flight
4,6159,13,Vistara,PE,New Delhi,20,Apr,Mumbai,0,No Stops,20-04-2021 17:45,20-04-2021 20:05,140.0,1,Tuesday,17,20,Evening_flight,Evening_flight

In [10]:
Airline=[]
connecting_flight_Airline=[]
for i in df["Airline"]:
    if "," in i:
        connecting_flight_Airline.append(i.split(",")[1])
        Airline.append(i.split(",")[0])
    else:
        Airline.append(i)
        connecting_flight_Airline.append("No connecting airline")

df["Airline"]=Airline
df["connecting_flight_Airline"]=connecting_flight_Airline

In [11]:
df.columns

Index(['Price', 'Optimal_hr', 'Airline', 'Cabin', 'Dept_city', 'Dept_date',
       'Dept_month', 'arrival_city', 'stops', 'layover_cities',
       'Departure_Date', 'Arrival_Date', 'duration', 'weekday', 'day_name',
       'dept_hours', 'arrival_hours', 'Dept_flights_time',
       'arrival_flights_time', 'connecting_flight_Airline'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315985 entries, 0 to 315984
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Price                      315985 non-null  int64
 1   Optimal_hr                 315985 non-null  int64
 2   Airline                    315985 non-null  object
 3   Cabin                      315985 non-null  object
 4   Dept_city                  315985 non-null  object
 5   Dept_date                  315985 non-null  int64
 6   Dept_month                 315985 non-null  object
 7   arrival_city               315985 non-null  object
 8   stops                      315985 non-null  int64
 9   layover_cities             315985 non-null  object
 10  Departure_Date             315985 non-null  object
 11  Arrival_Date               315985 non-null  object
 12  duration                   315985 non-null  float64
 13  weekday                    315985 non-null  int64
 14  day_name                   315985 non-null  object
 15  dept_hours                 315985 non-null  int64
 16  arrival_hours              315985 non-null  int64
 17  Dept_flights_time          315985 non-null  object
 18  arrival_flights_time       315985 non-null  object
 19  connecting_flight_Airline  315985 non-null  object
dtypes: float64(1), int64(7), object(12)
memory usage: 48.2+ MB

In [13]:
for i in df.columns:
    if df[i].dtype == "int64":
        key = i
        value = df[i].corr(df['Price'])
        print(f"Keys: {i} Correlation Coefficient: {value}")

Keys: Price Correlation Coefficient: 1.0
Keys: Optimal_hr Correlation Coefficient: 0.08628230746692485
Keys: Dept_date Correlation Coefficient: -0.05808091302141167
Keys: stops Correlation Coefficient: 0.47495671897779745
Keys: weekday Correlation Coefficient: 0.01812522078971293
Keys: dept_hours Correlation Coefficient: 0.09250031969200241
Keys: arrival_hours Correlation Coefficient: -0.10758484208898941

In [14]:
#Point Biserial Correlation
print(df.corr())

                  Price  Optimal_hr  Dept_date     stops  duration   weekday  \
Price          1.000000    0.086282  -0.058081  0.474957  0.414052  0.018125
Optimal_hr     0.086282    1.000000  -0.021046  0.020322  0.206079 -0.007519
Dept_date     -0.058081   -0.021046   1.000000  0.035386  0.042227 -0.037174
stops          0.474957    0.020322   0.035386  1.000000  0.572703 -0.001342
duration       0.414052    0.206079   0.042227  0.572703  1.000000 -0.000330
weekday        0.018125   -0.007519  -0.037174 -0.001342 -0.000330  1.000000
dept_hours     0.092500    0.849565  -0.001811  0.023995  0.213829 -0.003850
arrival_hours -0.107585   -0.226948   0.015146 -0.121817 -0.241594 -0.000703

               dept_hours  arrival_hours
Price            0.092500      -0.107585
Optimal_hr       0.849565      -0.226948
Dept_date       -0.001811       0.015146
stops            0.023995      -0.121817
duration         0.213829      -0.241594
weekday         -0.003850      -0.000703
dept_hours       1.000000      -0.173909
arrival_hours   -0.173909       1.000000

In [15]:
print("The Data set has {} rows and {} columns\n".format(df.shape[0],df.shape[1]))

The Data set has 315985 rows and 20 columns

In [16]:
#To check NULL values
df.isnull().sum()

Price                        0
Optimal_hr                   0
Airline                      0
Cabin                        0
Dept_city                    0
Dept_date                    0
Dept_month                   0
arrival_city                 0
stops                        0
layover_cities               0
Departure_Date               0
Arrival_Date                 0
duration                     0
weekday                      0
day_name                     0
dept_hours                   0
arrival_hours                0
Dept_flights_time            0
arrival_flights_time         0
connecting_flight_Airline    0
dtype: int64

In [37]:
l1 = []
l1.append(df[df["Airline"] == "flybig"].index)
l1.append(df[df["Airline"] == "TruJet"].index)
l1.append(df[df["Airline"] == "Air India Express"].index)
#print(l1)
l2 = []
for i in l1:
    for j in i:
        l2.append(j)
l2

[90426,
 90427,
 90428,
 90435,
 90501,
 90562,
 91558,
 91559,
 91560,
 91561,
 91563,
 91640,
 91706,
 93849,
 93851,
 93853,
 93854,
 93857,
 93920,
 96099,
 96101,
 96102,
 96105,
 96174,
 97221,
 97222,
 97227,
 97287,
 98287,
 98288,
 98291,
 98357,
 98359,
 98360,
 98430,
 99410,
 99411,
 99490,
 99491,
 99493,
 99562,
 101650,
 101652,
 101655,
 101656,
 103732,
 103734,
 103735,
 103738,
 103806,
 104810,
 104811,
 104814,
 104882,
 105899,
 105900,
 105968,
 141533,
 142909,
 145683,
 148324,
 149782,
 151201,
 152568,
 155283,
 157956,
 159295,
 160823,
 16695,
 16915,
 17476,
 17820,
 18362,
 19742,
 20597,
 21132,
 22263,
 22549,
 23965,
 25087,
 25371,
 26041,
 27439,
 28790,
 29896,
 30164,
 166238,
 166508,
 167596,
 167859,
 167866,
 168952,
 169219,
 169226,
 170587,
 171955,
 173325,
 174432,
 174699,
 174706,
 175806,
 176069,
 176076,
 177164,
 177427,
 177434,
 178563,
 178840,
 178847,
 180260,
 181668,
 183068,
 184215,
 184493,
 184500,
 185643,
 185923,
 187051,
 187324,
 187331,
 151338,
 154005,
 160970]

In [38]:
df.drop(l2, inplace=True)

In [39]:
X = df.iloc[:, 1:]
Y = df.iloc[:, 0].values

In [40]:
#Predictor
[X_train, X_test, Y_train, Y_test] = train_test_split(X, Y,test_size=0.3, random_state=42,shuffle=True)

In [19]:
Y_train

array([ 4340, 47859,  5990, ...,  5512,  9229,  6282], dtype=int64)

In [41]:
Y_test

array([6199, 8135, 3340, ..., 9071, 5712, 7546], dtype=int64)

In [42]:
X_train.shape

(221103, 19)

In [43]:
X_test.shape

(94759, 19)

In [44]:
Y_train.shape

(221103,)

In [45]:
Y_test.shape

(94759,)

In [47]:
X_train

,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time,connecting_flight_Airline
184449,6,IndiGo,E,Bengaluru,14,May,Raipur,1,Hyderabad,14-05-2021 10:25,14-05-2021 16:20,355.0,4,Friday,10,16,Morning_flight,Evening_flight,No connecting airline
158128,12,IndiGo,E,Mangalore,28,Apr,Kolkata,1,Bengaluru,28-04-2021 16:40,28-04-2021 21:45,305.0,2,Wednesday,16,21,Evening_flight,Night_flight,No connecting airline
271385,7,IndiGo,E,Coimbatore,3,May,Mumbai,1,Chennai,03-05-2021 11:30,03-05-2021 17:40,370.0,0,Monday,11,17,Afternoon_flight,Evening_flight,No connecting airline
21807,1,IndiGo,E,New Delhi,23,Apr,Thiruvananthapuram,1,Bengaluru,23-04-2021 05:15,23-04-2021 13:25,490.0,4,Friday,5,13,Morning_flight,Afternoon_flight,No connecting airline
40877,8,Air India,E,Kochi,23,Apr,Bengaluru,0,No Stops,23-04-2021 12:35,23-04-2021 13:50,75.0,4,Friday,12,13,Afternoon_flight,Afternoon_flight,No connecting airline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119954,2,IndiGo,E,Coimbatore,22,Apr,Chennai,1,Bengaluru,22-04-2021 06:05,22-04-2021 11:40,335.0,3,Thursday,6,11,Morning_flight,Afternoon_flight,No connecting airline
259301,5,Vistara,B,Bhubaneswar,1,May,Bagdogra,1,New Delhi,01-05-2021 09:40,01-05-2021 15:55,375.0,5,Saturday,9,15,Morning_flight,Afternoon_flight,No connecting airline
132007,5,Spicejet,PE,Ranchi,21,Apr,Bengaluru,1,New Delhi,21-04-2021 09:10,21-04-2021 19:45,635.0,2,Wednesday,9,19,Morning_flight,Evening_flight,No connecting airline
146945,16,IndiGo,E,Raipur,20,Apr,Bagdogra,1,Bengaluru,20-04-2021 20:20,20-04-2021 09:25,785.0,1,Tuesday,20,9,Evening_flight,Morning_flight,No connecting airline
122033,6,Air India,E,Ranchi,23,Apr,Kolkata,3,"New Delhi,Indore,Mumbai",23-04-2021 10:45,23-04-2021 23:15,750.0,4,Friday,10,23,Morning_flight,Night_flight,No connecting airline

In [60]:
le1 = OneHotEncoder()
airline_arr = le1.fit_transform(df[["Airline"]]).toarray()
print(airline_arr.shape)

(315862, 6)

In [61]:
df["Airline"].value_counts()

IndiGo       132232
Air India     79346
Vistara       51553
Go Air        23114
Spicejet      18162
AirAsia       11455
Name: Airline, dtype: int64

In [62]:
airl_indigo = airline_arr[:, 0]
airl_air_india = airline_arr[:, 1]
airl_air_vistara = airline_arr[:, 2]
airl_go_air = airline_arr[:, 3]
airl_spicejet = airline_arr[:, 4]
airl_airasia = airline_arr[:, 5]

In [58]:
print(airl_indigo[0])
print(airl_air_india[0])
print(airl_air_vistara[0])
print(airl_go_air[0])
print(airl_spicejet[0])
print(airl_airasia[0])

0.0
0.0
0.0
1.0
0.0
0.0

In [63]:
cabin_arr = le1.fit_transform(df[["Cabin"]]).toarray()
print(cabin_arr.shape)

(315862, 3)

In [64]:
df["Cabin"].value_counts()

E     185866
B     113127
PE     16869
Name: Cabin, dtype: int64

In [65]:
cabin_e = cabin_arr[:, 0]
cabin_b = cabin_arr[:, 1]
cabin_pe = cabin_arr[:, 2]

In [66]:
print(cabin_e[0])
print(cabin_b[0])
print(cabin_pe[0])

0.0
0.0
1.0

In [ ]:
cabin_arr = le1.fit_transform(df[["Cabin"]]).toarray()
print(cabin_arr.shape)

In [49]:
X_train.corr()

,Optimal_hr,Dept_date,stops,duration,weekday,dept_hours,arrival_hours
Optimal_hr,1.000000,-0.021118,0.020361,0.207362,-0.008077,0.849932,-0.227680
Dept_date,-0.021118,1.000000,0.036434,0.042965,-0.037615,-0.001739,0.015046
stops,0.020361,0.036434,1.000000,0.571107,-0.001271,0.024471,-0.123358
duration,0.207362,0.042965,0.571107,1.000000,-0.000951,0.214884,-0.242977
weekday,-0.008077,-0.037615,-0.001271,-0.000951,1.000000,-0.004633,-0.000404
dept_hours,0.849932,-0.001739,0.024471,0.214884,-0.004633,1.000000,-0.174960
arrival_hours,-0.227680,0.015046,-0.123358,-0.242977,-0.000404,-0.174960,1.000000

In [50]:
X_test

,Optimal_hr,Airline,Cabin,Dept_city,Dept_date,Dept_month,arrival_city,stops,layover_cities,Departure_Date,Arrival_Date,duration,weekday,day_name,dept_hours,arrival_hours,Dept_flights_time,arrival_flights_time,connecting_flight_Airline
49561,8,IndiGo,E,Kochi,30,Apr,Port Blair,1,Chennai,30-04-2021 12:30,30-04-2021 07:00,1110.0,4,Friday,12,7,Afternoon_flight,Morning_flight,No connecting airline
125458,15,IndiGo,E,Srinagar,26,Apr,Thiruvananthapuram,1,Bengaluru,26-04-2021 19:30,26-04-2021 06:40,670.0,0,Monday,19,6,Evening_flight,Morning_flight,No connecting airline
27979,16,Go Air,E,New Delhi,29,Apr,Mumbai,1,Ahmedabad,29-04-2021 20:05,29-04-2021 10:35,870.0,3,Thursday,20,10,Evening_flight,Morning_flight,No connecting airline
258180,19,IndiGo,B,Jaipur,15,May,Coimbatore,1,Bengaluru,15-05-2021 23:20,15-05-2021 06:40,440.0,5,Saturday,23,6,Night_flight,Morning_flight,No connecting airline
156079,13,IndiGo,E,Chandigarh,27,Apr,Mumbai,1,New Delhi,27-04-2021 17:20,27-04-2021 21:50,270.0,1,Tuesday,17,21,Evening_flight,Night_flight,No connecting airline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96480,8,AirAsia,E,Bagdogra,22,Apr,Indore,1,New Delhi,22-04-2021 12:45,22-04-2021 20:05,440.0,3,Thursday,12,20,Afternoon_flight,Evening_flight,No connecting airline
215147,9,IndiGo,E,Goa,7,May,Lucknow,1,Mumbai,07-05-2021 13:10,07-05-2021 18:20,310.0,4,Friday,13,18,Afternoon_flight,Evening_flight,No connecting airline
129239,7,Air India,E,Srinagar,29,Apr,Bhubaneswar,1,New Delhi,29-04-2021 11:25,29-04-2021 18:10,405.0,3,Thursday,11,18,Afternoon_flight,Evening_flight,IndiGo
155668,4,Spicejet,E,Mangalore,26,Apr,Tiruchirappalli,2,"Bengaluru,Chennai",26-04-2021 08:25,26-04-2021 21:15,770.0,0,Monday,8,21,Morning_flight,Night_flight,IndiGo
130064,9,Air India,E,Amritsar,29,Apr,Raipur,1,New Delhi,29-04-2021 13:40,29-04-2021 18:10,270.0,3,Thursday,13,18,Afternoon_flight,Evening_flight,No connecting airline

In [51]:
X_train.describe()

,Optimal_hr,Dept_date,stops,duration,weekday,dept_hours,arrival_hours
count,221103.000000,221103.000000,221103.000000,221103.000000,221103.000000,221103.000000,221103.000000
mean,8.918151,16.044350,1.190920,558.554113,3.196388,12.584262,14.609264
std,5.147727,8.436262,0.679721,324.662945,1.985135,5.113701,5.479458
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,9.000000,1.000000,335.000000,1.000000,8.000000,10.000000
50%,8.000000,16.000000,1.000000,495.000000,3.000000,12.000000,15.000000
75%,13.000000,23.000000,1.000000,735.000000,5.000000,17.000000,19.000000
max,23.000000,30.000000,6.000000,1435.000000,6.000000,23.000000,23.000000

In [52]:
le2 = OneHotEncoder()
print(x)
for i in range(len(x)):
    labels_test = le1.fit_transform(X_test[x]).toarray()
print(labels_test)

NameError: name 'x' is not defined

In [ ]:
X_test

In [ ]:
df.info()

In [ ]:
# Feature Scaling

sc_X = StandardScaler()

X_train = sc_X.fit_transform(X_train)

X_test = sc_X.transform(X_test)

In [ ]:
print(pd.DataFrame(X_train).head()) # Xtrain after scaling

In [ ]:
X_train = pd.DataFrame(X_train)
X_train.describe()

In [ ]:
sc_Y = StandardScaler()

Y_train = Y_train.reshape(-1, 1)

Y_train = sc_Y.fit_transform(Y_train)

Y_train = Y_train.ravel()

In [ ]:
print(pd.DataFrame(Y_train).head())

In [ ]:
Y_train = pd.Series(Y_train)
Y_train

In [ ]:
Y_train.describe()

In [ ]:
plt.figure(figsize=(20,5))
plt.title("Countplot to observe the trend of Airlines")
ax = sns.countplot(x = "Airline", data = df, saturation = 1.75, order=df["Airline"].value_counts(ascending=False).index)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="right")  #it will rotate text on x axis
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
plt.title("Boxplot to observe the trend of Airlines on training dataset")
sns.boxplot(x = X_train[1])
#ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="right")  #it will rotate text on x axis
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
plt.title("Boxplot to observe the trend of Airlines on Actual dataset")
ax = sns.boxplot(x = "Airline", y = "Price", data = df)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="right")  #it will rotate text on x axis
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
plt.title("Countplot to observe the trend of Airlines")
ax = sns.countplot(x = "Airline", data = df, saturation = 1.75, order=df["Airline"].value_counts(ascending=False).index, hue = 'Cabin')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha="right")  #it will rotate text on x axis
plt.tight_layout()
plt.show()

In [ ]:
#create heatmap
df1 = df.drop(columns=["Airline","Cabin","Dept_city", "Dept_month", "arrival_city", "layover_cities", "Departure_Date", "Arrival_Date", "day_name", "Dept_flights_time", "arrival_flights_time"], axis= 1)
plt.figure(figsize=(20,5))
plt.title("Heatmap to observe the trend of Original Dataframe before splitting it into training and testing dataset")
sns.heatmap(df.corr(), cmap="coolwarm")
plt.show()

In [ ]:

#create heatmap
df1 = df.drop(columns=["Airline","Cabin","Dept_city", "Dept_month", "arrival_city", "layover_cities", "Departure_Date", "Arrival_Date", "day_name", "Dept_flights_time", "arrival_flights_time"], axis= 1)
plt.figure(figsize=(20,5))
plt.title("Heatmap to observe the trend of Original Dataframe before splitting it into training and testing dataset")
sns.heatmap(df.corr(), cmap="coolwarm", annot=True)
plt.show()

In [ ]:

plt.figure(figsize=(14,14))
 
cbar_kws = {"orientation":"horizontal", 
            "shrink":1,
            'extend':'min', 
            'extendfrac':0.1, 
            "ticks":np.arange(0,22), 
            "drawedges":True,
           }
 
sns.heatmap(df.corr(), cbar_kws=cbar_kws, annot=True)

In [ ]:

# set heatmap size
plt.figure(figsize= (16,9)) 
 
# create heatmap seaborn
 
cbar_kws = {"orientation":"vertical", 
            "shrink":1,
            'extend':'min', 
            'extendfrac':0.1, 
            "ticks":np.arange(0,22), 
            "drawedges":True,
           } # color bar keyword arguments
 
sns.heatmap(df.corr(), cmap="coolwarm", annot = True, linewidth = 2, cbar_kws=cbar_kws)
 
plt.title("Correlation with respect to Price with other columns", fontsize = 25)
plt.ylabel("Price", fontsize = 20)
plt.show()

In [ ]:
# Upper triangle heatmap
 
plt.figure(figsize=(16,9))
 
corr_mx = df.corr() # correlation matrix
 
matrix = np.tril(corr_mx) # take lower correlation matrix
 
sns.heatmap(corr_mx, mask=matrix, annot=True)

In [ ]:
# Lower triangle heatmap
 
plt.figure(figsize=(16,9))
 
corr_mx = df.corr() # correlation matrix
 
matrix = np.triu(corr_mx) # take upper correlation matrix
 
sns.heatmap(corr_mx, mask=matrix, annot=True)

In [ ]:
#Pair Plot
 
plt.figure(figsize=(16,9))
sns.pairplot(data=df)
plt.show()

In [ ]:
#lmplot
plt.figure(figsize=(16,9))
sns.lmplot(x='Price', y='Optimal_hr', data=df)
plt.show()

In [ ]:
#regplot
plt.figure(figsize=(16,9))
sns.regplot(x='Price', y='Optimal_hr', data=df)
plt.show()

In [ ]:
# target variable: price of ticket

fig, ax= plt.subplots(1,2,figsize=(15,5))

sns.distplot(df['Price'], norm_hist=False, kde=False, ax=ax[0], color='blue')
ax[0].set_xlabel('Ticket Price')
ax[0].set_ylabel('Count of Ticket',size=12)
ax[0].set_title('Count Of Ticket By Price',size=15,weight="bold")

sns.distplot(df['Price'], kde=True, ax=ax[1], color='green')
ax[1].set_xlabel('Ticket Price')
ax[1].set_ylabel('Relative Frequency of Ticket',size=12)
ax[1].set_title('Density or Relative Frequency O