In [75]:
import pandas as pd
import json
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import time
df=pd.read_csv("cities.csv")

In [76]:
df

   Code IMP_codes
0   AGR       DEL
1   DIB       BOM
2   HYD       BLR
3   BHJ       HYD
4   HBX       MAA
..  ...       ...
79  IXS       NaN
80  CNN       NaN
81  GOI       NaN
82  AMD       NaN
83  TIR       NaN

[84 rows x 2 columns]

In [77]:
df["IMP_codes"].iloc[29]

'TRZ'

In [ ]:
from tqdm import tqdm
price=[]
cities=[]
departure_time=[]
arrival_time=[]
via=[]
airline=[]
cabin=[]
scraping_time = []
driver = webdriver.Chrome("C:\Program Files (x86)\chromedriver.exe")

for z in range(29, 32):
    driver.refresh()
    for m in range(30):
        driver.refresh()
        for n in range(30):
            driver.refresh()
            if df["IMP_codes"].iloc[m]!=df["IMP_codes"].iloc[n]:
                print("source=",m, "destination=",n, "Dates=",z)
                print(df["IMP_codes"].iloc[m],df["IMP_codes"].iloc[n])
                k=''
                if(z<10):
                    k='0'
                url="https://www.makemytrip.com/flight/search?itinerary="+df["IMP_codes"].iloc[m]+"-"+df["IMP_codes"].iloc[n]+"-"+k+str(z)+"/05/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
                #driver = webdriver.Chrome("C:/chromedriver.exe")
                driver.get(url)
               
                soup=BeautifulSoup(driver.page_source, 'lxml')

                price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})
                flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
                time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
                layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})
                airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})
                now1 = datetime.now()
                print("now =", now1)

#price_info
                for i,j in enumerate(price_info):
                    if i<30:
                       a=str(j)
                       price.append(a[43:len(a)-4])
                      
    #flights_info
                for i,j in enumerate(flights_info):
                    if i<60:
                        k=str(j)
                        if len(k)>45:
                            cities.append(k[29:(len(k)-4)])
                            scraping_time.append(now1)

    #time_info
                for i,j in enumerate(time_info):
                    if i<60:
                        k=str(j)
                        if (i%2==0):
                            departure_time.append(k[82:87])
                        if (i%2!=0):
                            arrival_time.append(k[82:87])

    #layover_info
                for i,j in enumerate(layover_info):
                    if i<30:
                        k=str(j)
                        via.append(k[30:len(k)-4])

    #airline_info
                for i,j in enumerate(airline_info):
                    if i<30:            
                        k=str(j)
                        airline.append(k[45:len(k)-7])
                print("**"*50)
                print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline),len(scraping_time))

source= 0 destination= 1 Dates= 29
DEL BOM

In [24]:
data = pd.DataFrame(
    {'Price':price,
     'Cities':cities,
     'departure_time':departure_time,
     'arrival_time':arrival_time, 
     'layeover':via,
     'Airline':airline,
     'Scraping_Time':scraping_time
    })

In [25]:
data

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
0,"6,629","Port Blair to New Delhi , 28 May",08:55,13:50,1 stop via Kolkata,IndiGo,2021-05-10 14:03:18.085076
1,"6,629","Port Blair to New Delhi , 28 May",10:30,16:40,1 stop via Kolkata,Go Air,2021-05-10 14:03:18.085076
2,"6,631","Port Blair to New Delhi , 28 May",08:40,23:30,1 stop via Kolkata,Spicejet,2021-05-10 14:03:18.085076
3,"6,631","Port Blair to New Delhi , 28 May",08:40,08:45,1 stop via Kolkata,Spicejet,2021-05-10 14:03:18.085076
4,"6,682","Port Blair to New Delhi , 28 May",07:30,15:40,1 stop via Chennai,IndiGo,2021-05-10 14:03:18.085076
...,...,...,...,...,...,...,...
257,"9,571","Tiruchirappalli to Ranchi , 28 May",11:30,10:25,"3 stop via Chennai,Bengaluru,New Delhi","IndiGo, Go Air",2021-05-10 14:25:26.031062
258,"8,872","Tiruchirappalli to Amritsar , 28 May",18:25,12:50,1 stop via Bengaluru,IndiGo,2021-05-10 14:25:47.909968
259,"10,027","Tiruchirappalli to Chandigarh , 28 May",18:25,11:55,1 stop via Bengaluru,IndiGo,2021-05-10 14:26:31.079907
260,"13,640","Tiruchirappalli to Raipur , 28 May",11:30,11:50,"3 stop via Chennai,Hyderabad,Mumbai","IndiGo, Air India",2021-05-10 14:27:20.965013
261,"7,085","Tiruchirappalli to Port Blair , 28 May",14:40,07:00,1 stop via Chennai,IndiGo,2021-05-10 14:28:54.517763

In [26]:
print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline))

262 262 262 262 262 262

In [27]:
data.to_csv('v4-part28-7th.csv')