In [13]:
import pandas as pd
import json
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import time
df=pd.read_csv("cities.csv")

In [14]:
df

   Code IMP_codes
0   AGR       DEL
1   DIB       BOM
2   HYD       BLR
3   BHJ       HYD
4   HBX       MAA
..  ...       ...
79  IXS       NaN
80  CNN       NaN
81  GOI       NaN
82  AMD       NaN
83  TIR       NaN

[84 rows x 2 columns]

In [15]:
df["IMP_codes"].iloc[29]

'TRZ'

In [ ]:
from tqdm import tqdm
price=[]
cities=[]
departure_time=[]
arrival_time=[]
via=[]
airline=[]
cabin=[]
scraping_time = []
driver = webdriver.Chrome("C:\Program Files (x86)\chromedriver.exe")

for z in range(10, 15):
    driver.refresh()
    for m in range(10, 30):
        driver.refresh()
        for n in range(30):
            driver.refresh()
            if df["IMP_codes"].iloc[m]!=df["IMP_codes"].iloc[n]:
                print("source=",m, "destination=",n, "Dates=",z)
                print(df["IMP_codes"].iloc[m],df["IMP_codes"].iloc[n])
                k=''
                if(z<10):
                    k='0'
                url="https://www.makemytrip.com/flight/search?itinerary="+df["IMP_codes"].iloc[m]+"-"+df["IMP_codes"].iloc[n]+"-"+k+str(z)+"/05/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=PE&ccde=IN&lang=eng"
                #driver = webdriver.Chrome("C:/chromedriver.exe")
                driver.get(url)
                soup=BeautifulSoup(driver.page_source, 'lxml')

                price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})
                flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
                time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
                layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})
                airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})
                now1 = datetime.now()
                print("now =", now1)

#price_info
                for i,j in enumerate(price_info):
                    if i<30:
                       a=str(j)
                       price.append(a[43:len(a)-4])
                      
    #flights_info
                for i,j in enumerate(flights_info):
                    if i<60:
                        k=str(j)
                        if len(k)>45:
                            cities.append(k[29:(len(k)-4)])
                            scraping_time.append(now1)

    #time_info
                for i,j in enumerate(time_info):
                    if i<60:
                        k=str(j)
                        if (i%2==0):
                            departure_time.append(k[82:87])
                        if (i%2!=0):
                            arrival_time.append(k[82:87])

    #layover_info
                for i,j in enumerate(layover_info):
                    if i<30:
                        k=str(j)
                        via.append(k[30:len(k)-4])

    #airline_info
                for i,j in enumerate(airline_info):
                    if i<30:            
                        k=str(j)
                        airline.append(k[45:len(k)-7])
                print("**"*50)
                print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline),len(scraping_time))

source= 10 destination= 0 Dates= 10
LKO DEL
now = 2021-05-11 02:30:13.343140
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 1 Dates= 10
LKO BOM
now = 2021-05-11 02:30:19.105023
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 2 Dates= 10
LKO BLR
now = 2021-05-11 02:30:39.104586
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 3 Dates= 10
LKO HYD
now = 2021-05-11 02:31:00.769408
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 4 Dates= 10
LKO MAA
now = 2021-05-11 02:31:22.405216
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 5 Dates= 10
LKO CCU
now = 2021-05-11 02:31:34.338085
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 6 Dates= 10
LKO COK
now = 2021-05-11 02:31:56.853559
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 7 Dates= 10
LKO GOI
now = 2021-05-11 02:32:19.498195
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 8 Dates= 10
LKO PNQ
now = 2021-05-11 02:32:35.299571
****************************************************************************************************
0 0 0 0 0 0 0
source= 10 destination= 9 Dates= 10
LKO GAU
now = 2021-05-11 02:32:54.284207
****************************************************************************************************
0 0 0 0 0 0 0

In [5]:
data = pd.DataFrame(
    {'Price':price,
     'Cities':cities,
     'departure_time':departure_time,
     'arrival_time':arrival_time, 
     'layeover':via,
     'Airline':airline,
     'Scraping_Time':scraping_time
    })

In [6]:
data

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
0,"6,855","New Delhi to Chennai , 10 May",18:55,21:35,Non stop,Spicejet,2021-05-10 16:34:04.310574
1,"12,168","New Delhi to Chennai , 10 May",19:10,13:15,1 stop via Patna,Spicejet,2021-05-10 16:34:04.310574
2,"10,096","New Delhi to Guwahati , 10 May",19:10,20:25,1 stop via Patna,Spicejet,2021-05-10 16:36:13.994838
3,"11,788","New Delhi to Patna , 10 May",19:10,20:50,Non stop,Spicejet,2021-05-10 16:37:14.365392
4,"6,147","Mumbai to New Delhi , 10 May",19:45,21:55,Non stop,Vistara,2021-05-10 16:44:39.156875
...,...,...,...,...,...,...,...
1403,"6,985","Guwahati to Srinagar , 14 May",16:00,08:10,1 stop via New Delhi,Spicejet,2021-05-11 02:23:10.244250
1404,"8,320","Guwahati to Ranchi , 14 May",12:40,19:40,1 stop via New Delhi,Vistara,2021-05-11 02:23:49.596937
1405,"6,853","Guwahati to Amritsar , 14 May",11:20,07:30,1 stop via Jaipur,Spicejet,2021-05-11 02:24:11.313658
1406,"6,853","Guwahati to Amritsar , 14 May",16:00,18:45,1 stop via New Delhi,Spicejet,2021-05-11 02:24:11.313658
1407,"7,205","Guwahati to Amritsar , 14 May",06:45,11:25,1 stop via Patna,Spicejet,2021-05-11 02:24:11.313658

In [7]:
print(len(departure_time), len(price),len(cities),len(arrival_time),len(via),len(airline), len(scraping_time))

1408 1408 1408 1408 1408 1408 1408

In [8]:
data.to_csv("new_pe_may10_0_9sr.csv", index = False)

In [10]:
df = pd.read_csv("new_pe_may10_0_9sr.csv")
df.shape

(1408, 7)

In [11]:
df.tail()

,Price,Cities,departure_time,arrival_time,layeover,Airline,Scraping_Time
1403,"6,985","Guwahati to Srinagar , 14 May",16:00,08:10,1 stop via New Delhi,Spicejet,2021-05-11 02:23:10.244250
1404,"8,320","Guwahati to Ranchi , 14 May",12:40,19:40,1 stop via New Delhi,Vistara,2021-05-11 02:23:49.596937
1405,"6,853","Guwahati to Amritsar , 14 May",11:20,07:30,1 stop via Jaipur,Spicejet,2021-05-11 02:24:11.313658
1406,"6,853","Guwahati to Amritsar , 14 May",16:00,18:45,1 stop via New Delhi,Spicejet,2021-05-11 02:24:11.313658
1407,"7,205","Guwahati to Amritsar , 14 May",06:45,11:25,1 stop via Patna,Spicejet,2021-05-11 02:24:11.313658